<mat-toolbar color="primary">
  <mat-toolbar-row style="font-size: 10px" fxLayout="row" fxLayoutAlign= "space-evenly center">
    <div fxLayout="column" fxLayoutAlign= "center center">
    <mat-icon class="material-icons">card_giftcard</mat-icon>
    <span>Exclusives</span>
    </div>
    <div fxLayout="column" fxLayoutAlign= "center center">
    <mat-icon class="material-icons">star</mat-icon>
    <span>Services</span>
  </div>
  <div fxLayout="column" fxLayoutAlign= "center center">
    <mat-icon class="material-icons">check_circle_outline</mat-icon>
    <span>My Stores</span>
    </div>
    <div fxLayout="column" fxLayoutAlign= "center center">
    <mat-icon svgIcon="coupon">
    </mat-icon>
    <span>My Coupons</span>
  </div>
  </mat-toolbar-row>
</mat-toolbar>

