/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

body {
  margin: 0;
}

.spacer {
  flex:1;
}

/*
 * Actual Sticky Footer Styles
 */
 .all-wrap {
  min-height: 100vh;
}

.page-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}

/*
 * Make the Component injected by Router Outlet full height:
 */
 main {
  display: flex;
  flex-direction: column;
  /* > *:not(router-outlet) {
    flex: 1;
    display: block;
  } */
}

.footer {
  height: 50px;
  background-color: red;
  position: absolute;
  bottom: -50px;
  width: 100%
}
